.footer{
    background-color: #151200;
    margin-top: 90px;
    .container{
        .wrapper{
            .image{
                text-align: center;
                padding-top: 68px;
                img{
                    width: 10%;
                }
            }
            .wrap{
                .navbar-nav{
                    flex-direction: row;
                    place-content: center;
                    .nav-item{
                        margin-top: 65px;
                        color: #fff;
                         margin-left: 60px;
                         font-size: 17px;
                         font-weight: 400;
                         line-height: 19.94px;
                         letter-spacing: 0.15px;
                        .navlink{
                        }
                        .active{
                            color: $primaryColor;
                        }
                    }
                }
            }
            .icon{
                margin-top: 70px;
                place-content: center;
                i{
                    color: #fff;
                    font-size: 20px;
                    margin-right: 70px;
                }
            }
            .copyright{
                margin-top: 30px;
                text-align: center;
                padding-bottom: 1px;
                p{
                    color: #7B7B7B;
                    line-height: 12;
                    font-size: 15px;
                }
            }
        }
    }
}






.footer{
    .container{
        .wrapper{
            .image{
                img{

                }
            }
            .wrap{
                .navbar-nav{

                    .nav-item{
                        font-size: 15px;
                        font-weight: 400;
                        margin-left: 34px;
                        .navlink{
                        }
                        .active{
                        }
                    }
                }
            }
            .icon{
                margin-top: 50px;
                i{
                }
            }
            .copyright{
                p{
                }
            }
        }
    }
}