// .testimonial {
//     margin-top: 180px;
//     margin-bottom: 150px;

//     .container {
//         .wrapper {
//             h1 {
//                 font-size: 120px;
//                 font-weight: 700;
//                 color: #0A0A0A0F;
//                 text-align: center;
//                 line-height: 0;
//             }

//             h3 {
//                 font-size: 51px;
//                 text-align: center;
//             }

//             .item {
//                 margin-top: 70px;
//                 width: 100%;
//                 transform: translate(0, 0);

//                 .row {
//                     .col-sm-6 {
//                         .slider-for {
//                             h2 {
//                                 font-size: 35px;
//                                 color: #000;
//                             }

//                             h4 {
//                                 font-size: 17px;
//                                 color: #0A0A0ACC;
//                             }

//                             p {
//                                 margin-top: 30px;
//                                 font-size: 17px;
//                                 color: #0A0A0ACC;
//                                 line-height: 24.65px;
//                             }

//                             .slider-nav {
//                                 margin-top: 40px;

//                                 img {
//                                     width: 60px;
//                                     height: 51px;
//                                     border: 1px solid yellow;
//                                     border-radius: 50%;
//                                     padding: 4px 10px;
//                                     background: rgba(89, 2, 236, 0.1);
//                                     margin-right: 40px;
//                                 }
//                             }

//                         }
//                         .icon {
//                             margin-top: 20px;

//                             i {
//                                 color: $primaryColor;
//                                 font-size: 45px;

//                                 &:last-child {
//                                     margin-left: 450px;
//                                 }
//                             }
//                         }
//                         .image-colored {
//                             img {
//                                 max-height: 460px;
//                                 padding-top: 35px;
//                                 padding-right: 255px;
//                                 margin-left: 29px;
//                                 border: 1px solid pink;
//                                 background: linear-gradient(rgba(151, 71, 255, 0.2), rgba(89, 2, 236, 0.2) 48.23%, rgba(251, 10, 241, 0.2));
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.testimonial {
    margin-top: 180px;
    margin-bottom: 150px;

    .container {
        .wrapper {
            h1 {
                font-size: 120px;
                font-weight: 700;
                color: #0A0A0A0F;
                text-align: center;
                line-height: 0;
            }

            h3 {
                font-size: 51px;
                text-align: center;
            }

            .item {
                margin-top: 70px;
                width: 100%;
                transform: translate(0, 0);

                .row {
                    .col-sm-6 {
                        .slider-for {
                            div {
                                .all {
                                    h2 {
                                        font-size: 35px;
                                        color: #000;
                                    }

                                    h4 {
                                        font-size: 17px;
                                        color: #0A0A0ACC;
                                    }

                                    p {
                                        margin-top: 30px;
                                        font-size: 17px;
                                        color: #0A0A0ACC;
                                        line-height: 24.65px;
                                    }
                                }
                            }

                            div {
                               
                                img {
                                    margin-top: 40px;
                                    max-height: 460px;
                                    padding-top: 35px;
                                    padding-right: 255px;
                                    margin-left: 29px;
                                    border: 1px solid pink;
                                    background: linear-gradient(rgba(151, 71, 255, 0.2), rgba(89, 2, 236, 0.2) 48.23%, rgba(251, 10, 241, 0.2));
                                }
                            }
                        }
                    }
                }

                .col-sm-6 {
                    .slider-nav {
                        div {
                            
                            img {
                                width: 60px;
                                height: 51px;
                                border: 1px solid yellow;
                                border-radius: 50%;
                                padding: 4px 10px;
                                background: rgba(89, 2, 236, 0.1);
                                margin-right: 40px;
                            }
                        }
                    }

                    .icon {
                            i {
                                color: $primaryColor;
                                font-size: 45px;

                                &:last-child {
                                    margin-left: 450px;
                                }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    
    .testimonial {
        margin-top: 105px;

        .container {
            .wrapper {
                h1 {
                }
    
                h3 {
                }
    
                .item {
    
                    .row {
                        .col-sm-6 {
                            .slider-for {
                                div {
                                    .all {
                                        h2 {
                                        }
    
                                        h4 {
                                        }
    
                                        p {
                                            font-size: 15px;
                                            line-height: 1.2;
                                        }
                                    }
                                }
    
                                div {
                                   
                                    img {
                                        max-height: 460px;
                                        margin-top: 167px;
                                        padding: 0;
                                        padding-right: 84px;
                                    }
                                }
                            }
                        }
                    }
    
                    .col-sm-6 {
                        .slider-nav {
                            div {
                                
                                img {
                                }
                            }
                        }
    
                        .icon {
                                i {
                                    &:last-child {
                                    }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .testimonial {
        margin-top: 105px;

        .container {
            .wrapper {
                h1 {
                    font-size: 90px;
                }

                h3 {
                    font-size: 40px;
                }

                .item {
                    .row {
                        .col-sm-6 {
                            .text {
                                h2 {}

                                h4 {}

                                p {}

                                .image {
                                    img {}
                                }

                                .icon {
                                    i {
                                        &:last-child {}
                                    }
                                }
                            }
                        }
                    }

                    .image-colored {
                        margin-top: 157px;
                        max-height: 460px;
                        padding-top: 0px;
                        padding-right: 0px;
                        margin-left: 29px;
                        margin-top: 85px;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .testimonial {
        margin-top: 105px;

        .container {
            .wrapper {
                h1 {
                    font-size: 90px;
                }

                h3 {
                    font-size: 40px;
                }

                .item {
                    .row {
                        .col-sm-6 {
                            .text {
                                h2 {}

                                h4 {}

                                p {}

                                .image {
                                    img {}
                                }

                                .icon {
                                    i {
                                        &:last-child {}
                                    }
                                }
                            }
                        }
                    }

                    .image-colored {
                        content-visibility: hidden;

                        img {}
                    }
                }
            }
        }
    }
}
